* {
    box-sizing: border-box;
    outline: 1px solid limegreen !important;
}

/* Wrapper Section */
.vt-wrapper {
    position: relative;
    margin-bottom: 15rem;
}

/* Sections / Pages */
.vt-section {
    position: relative;
    width: 100%;
    background-color: white;
    display: grid;
    overflow: hidden;
    will-change: transform;
    will-change: filter;
}

/* Hero title page */

/* Background should cover on all devices and be compatible with
mobile and Safari */
.vt-hero-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 75vh;
    width: 100%;
    position: relative;
    will-change: transform;
    will-change: filter;
}

.vit-hero-background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 50vh;
    width: 100%;
    position: relative;
    will-change: transform;
    will-change: filter;
}

.vt-hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.vit-hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

/* img elements inside vt-hero-content size is 75% of height */
.vt-hero-content img {
    width: min(80vw, 600px);
}

.vit-hero-content img {
    width: min(40vh, 600px);
}

.vt-section-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.vt-intro-background {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    clip-path: circle(min(31vw, 230px));
    top: calc(-7rem - (75vh / 2) - (min(31vw, 230px)));
    margin-bottom: 300px;
    height: min(62vw, 460px);
    position: relative;
}


.vit-intro-background {
    top: calc((-50vh / 2) - (min(15.5vh, 230px)));
    margin-bottom: 15vh;
    /* height: min(30.5vh, 460px); */
    position: relative;
    display: flex;
    justify-content: center;
}

.vit-intro-background img {

    height: min(30.75vh, 460px);
    width: min(30.75vh, 460px);
}



.vit-intro-title {
    position: relative;
    top: calc(-45vh);
}

.down-arrow {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    will-change: transform;
    will-change: filter;
    height: 7rem;
}

.down-arrow img {
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
}

.down-arrow-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Intro Section */

.vt-content-grid {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 5rem;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding: 0 10vw;
    color: grey;
}

@media (max-width: 800px) {
    .vt-content-grid {
        grid-template-columns: 1fr;
        row-gap: 5rem;
        height: auto;
    }
}
.vit-vitrine-title{
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: #9b9a9a;
    border-bottom: 1px solid #9b9a9a;
    padding-bottom: 2rem;
}

.vit-title {
    font-size: 3.0rem;
    font-weight: 400;
    padding-top: 1rem;
}

.vt-section-title {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    /* grey border 10 px above */

}

.vt-section-subtitle {
    font-size: 1.75rem;
    font-weight: 300;
}

.vt-section-secondary-title {
    font-size: 2.25rem;
    font-weight: 300;
}

.vt-uppercase {
    text-transform: uppercase;
}

.vt-top-border {
    border-top: 1px solid #9b9a9a;
    padding-top: 10px;
}

.vt-section-top-margin {
    margin-top: 150px;
}

/* hide top border if screen smaller */
@media (max-width: 800px) {
    .vt-top-border {
        border-top: none;
        padding-top: 0;
    }
}

.vt-section-text {
    font-size: 1.75rem;
    letter-spacing: 0.1em;
    line-height: 2.75rem;
}

.vt-condensed-text {
    line-height: 1.75rem;
}

.vt-bottom-margin-xs {
    margin-bottom: 1rem;
}

/* Vitrine Index Section */
.vt-index-grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 5rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 100%;
    padding: 0 10vw;
    color: grey;
}

@media (max-width: 900px) {
    .vt-index-grid-container {
        grid-template-columns: 1fr;
        row-gap: 5rem;
    }
}

.vt-index-item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 3rem;
    width: 100%;
    color: grey;
    counter-reset: item-number;
}

@media (max-width: 425px) {
    .vt-index-item-grid {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .vt-index-text-container .vt-section-text {
        max-width: 90%;
        padding-bottom: 4rem;
    }
}

.vt-index-item-grid::after {
    background-image: url(../assets/ellipse-bg.svg);
    background-size: 240%;
    background-position: 50% 60%;
    content: "";
    width: 29.75vw;
    height: 100%;
    z-index: 23;
    position: absolute;
}

@media (max-width: 900px) {
    .vt-index-item-grid::after {
        width: 38vw;
    }
}

@media (max-width: 425px) {
    .vt-index-item-grid::after {
        display: none;
    }
}

.vt-index-img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    object-position: bottom;
}

.vt-index-text-container {
    position: relative;
}

.vt-link-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.5rem;
    height: 4.5rem;
}

.vt-link-arrow img {
    rotate: -90deg;
}

.vt-link-arrow img:hover {
    filter: brightness(0.5);
}

.vit-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "a b c";
    grid-gap: 3rem;
    height: 100%;
    width: 100%;
}

@media (max-width: 800px) {
    .vit-grid {
        grid-template-columns: 90vw;
        grid-template-areas: "a"
                             "b"
                             "c";
        row-gap: 2rem;
        height: auto;
        margin-left: 5vw;
    }
}

.vit-left {
    grid-area: a;
    display: flex;
    justify-content: end;
}

.vit-center {
    grid-area: b;
}

.vit-right {
    grid-area: c;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vit-right div {
    max-width: 75%;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .vit-left {
        justify-content: start;
    }
}

.vit-grid p {
    color: #817e7e;
    padding-bottom: 2rem;
    font-size: 1.75rem;
    letter-spacing: 0.1em;
}

.vit-sidetext {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.1em;
    line-height: 2.75rem;
    color: #817e7e;
    text-transform: uppercase;
}

.vit-sidetext p {
    width: 50%;
}

.vit-download-icon {
    width: 4rem;
    height: 4rem;
    margin-bottom: 1rem;
}

.vit-top-margin {
    margin-top: 3rem;
}

@media screen and (max-width: 800px) {
    .vit-content {
        width: 90vw;
    }
}

.vit-readmore {
    /* heigh of first paragraph */
    max-height: 0rem;
    overflow: hidden;
    overflow-anchor: none;
}

.vit-readmore-text {
    display: none;
}

.vit-readmore-text-show{
    display: inline;
}

.vit-readmore-btn {
    appearance: none;
    border: none;
    border-bottom: 3px solid #817e7e;
    background-color: transparent;
    padding: 0;
    margin-left: 1rem;
}

.vit-readmore-btn-hide {
    display: none;
}

.vit-readmore-btn:hover {
    background-color: #817e7e;
    color: white;
}





/* Mocking CSS taken from template not required in module */

/**
 * @file
 * Utility classes to hide elements in different ways.
 */

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be collapsible details that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
 .hidden {
    display: none;
  }

  /**
   * Hide elements visually, but keep them available for screen readers.
   *
   * Used for information required for screen reader users to understand and use
   * the site where visual display is undesirable. Information provided in this
   * manner should be kept concise, to avoid unnecessary burden on the user.
   * "!important" is used to prevent unintentional overrides.
   */
  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }

  /**
   * The .focusable class extends the .visually-hidden class to allow
   * the element to be focusable when navigated to via the keyboard.
   */
  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    position: static !important;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
  }

  /**
   * Hide visually and from screen readers, but maintain layout.
   */
  .invisible {
    visibility: hidden;
  }
