/* Wrapper Section */
.vt-wrapper {
    position: relative;
    margin-bottom: 15rem;
}

/* Sections / Pages */
.vt-section {
    position: relative;
    width: 100%;
    background-color: white;
    /* border: #0000ff solid 1px; */
    display: grid;
    overflow: hidden;
    will-change: transform;
    will-change: filter;

}

.vt-head {
    min-height: 75vh;
    height: 75vh;
}

@media (max-width: 992px) {
    .vt-head{
        height: 90vh;
    }
}


/* Hero title page */

/* Background should cover on all devices and be compatible with
mobile and Safari */
.vt-hero-background {
    background: url('../assets/img4_large.jpeg') center top no-repeat scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 75vh;
    width: 100%;
    position: relative;
    will-change: transform;
    will-change: filter;

}

.vt-hero-content {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

/* img elements inside vt-hero-content size is 75% of height */
.vt-hero-content img {
    width: min(80vw, 600px);
}

.vt-section-header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.vt-intro-background {
    background: url('../assets/img1_large.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    clip-path: circle(min(31vw, 230px));
    top: calc(-7rem - (75vh / 2) - (min(31vw, 230px)));
    margin-bottom: 300px;
    height: min(62vw, 460px);
    position: relative;
}

.down-arrow {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    will-change: transform;
    will-change: filter;
    height: 7rem;
}

.down-arrow img {
    width: 5rem;
    height: 5rem;
    margin-top: 2rem;
}

.down-arrow-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Intro Section */

.vt-content-grid {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 5rem;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    padding: 0 10vw;
    color: grey;
}

@media (max-width: 800px) {
    .vt-content-grid {
        grid-template-columns: 1fr;
        row-gap: 5rem;
        height: auto;
    }
}

.vt-section-title {
    font-size: 3rem;
    font-weight: 400;
    letter-spacing: 0.2em;
    /* grey border 10 px above */

}

.vt-section-subtitle {
    font-size: 1.75rem;
    font-weight: 300;
}

.vt-section-secondary-title {
    font-size: 2.25rem;
    font-weight: 300;
}

.vt-uppercase {
    text-transform: uppercase;
}

.vt-top-border {
    border-top: 1px solid #9b9a9a;
    padding-top: 10px;
}

.vt-section-top-margin {
    margin-top: 150px;
}

/* hide top border if screen smaller */
@media (max-width: 800px) {
    .vt-top-border {
        border-top: none;
        padding-top: 0;
    }
}

.vt-section-text {
    font-size: 1.75rem;
    letter-spacing: 0.1em;
    line-height: 2.75rem;
}

.vt-condensed-text {
    line-height: 1.75rem;
}

.vt-bottom-margin-xs {
    margin-bottom: 1rem;
}

/* Vitrine Index Section */
.vt-index-grid-container {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-gap: 5rem;
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 100%;
    padding: 0 10vw;
    color: grey;
}

.vt-index-item-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 1rem;
    column-gap: 3rem;
    width: 100%;
    color: grey;
    counter-reset: item-number;
}

.vt-index-item-grid::after {
    background-image: url(../assets/ellipse-bg.svg);
    background-size: 240%;
    background-position: 50% 60%;
    content: "";
    width: 29.75vw;
    height: 100%;
    z-index: 23;
    position: absolute;
}

.vt-index-img {
    width: 100%;
    max-height: 20rem;
    object-fit: cover;
    object-position: bottom;
}

.vt-index-text-container {
    position: relative;
}

.vt-link-arrow {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 4.5rem;
    height: 4.5rem;
}

.vt-link-arrow img {
    rotate: -90deg;
}

.vt-link-arrow img:hover {
    filter: brightness(0.5);
}


/* Mocking CSS taken from template not required in module */

/**
 * @file
 * Utility classes to hide elements in different ways.
 */

/**
 * Hide elements from all users.
 *
 * Used for elements which should not be immediately displayed to any user. An
 * example would be collapsible details that will be expanded with a click
 * from a user. The effect of this class can be toggled with the jQuery show()
 * and hide() functions.
 */
 .hidden {
    display: none;
  }

  /**
   * Hide elements visually, but keep them available for screen readers.
   *
   * Used for information required for screen reader users to understand and use
   * the site where visual display is undesirable. Information provided in this
   * manner should be kept concise, to avoid unnecessary burden on the user.
   * "!important" is used to prevent unintentional overrides.
   */
  .visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
  }

  /**
   * The .focusable class extends the .visually-hidden class to allow
   * the element to be focusable when navigated to via the keyboard.
   */
  .visually-hidden.focusable:active,
  .visually-hidden.focusable:focus {
    position: static !important;
    overflow: visible;
    clip: auto;
    width: auto;
    height: auto;
  }

  /**
   * Hide visually and from screen readers, but maintain layout.
   */
  .invisible {
    visibility: hidden;
  }
